gvmd=v24.3.4
gvm_libs=v22.17.0
openvas=v23.15.3
openvas_smb=v22.5.7
notus_scanner=v22.6.5
gsa=v24.2.0
gsad=v24.2.0
ospd=v21.4.4
ospd_openvas=v22.8.0
pg_gvm=v22.6.7
python_gvm=v25.1.1
gvm_tools=v25.1.1
greenbone_feed_sync=v24.9.0
